include ../layouts/layout
.container
    h1.mt-3
    div.mt-3
        h1 Add New Item
    div.mt-2
        form(action='/item' method='post')
            .form-group
                label(for='itemName' style='color:black; font-weight: 700;') Name
                input.form-control(type='text' aria-describedby='emailHelp' id='itemName' name='name')
            br
            .form-group
                label(for='itemPrice' style='color:black; font-weight: 700;') Price
                input.form-control(type="number" step="0.01" aria-describedby='emailHelp' id='itemPrice' name='price')
            br
            button.btn.btn-primary(type='submit') Submit