.navBar {
  background-color: #5B9BD5;
  height: 100px;
  width: 100%;
}

.Nav-Item {
  background-color: #F8CBAD;
  color: #000000;
  padding: 10px;
  margin: 6px 10px 10px 10px;
}

.NavButtonGroup {
  float: right;
  margin-right: 10%;
}

.NavImage {
  height: 70px;
  margin: 6px 15px 15px 5%;
  float: left;
  display: inline-block;
}

.NavTitle {
  display: inline-block;
  color: white;
  font-size: 30px;
}

.main {
  background-color: #FFC000;
  font-size: 20px;
  padding: 20px 50px 100px 50px;
}